<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
    <title>Main</title>
</head>
<body>
    <h1>50-20 Bill/Coin Detection</h1>

    <input type="file" id="imgUpload" accept="image/*">

    <div class="canvas-container">
        <canvas id="canvas"></canvas>
    </div>

    <button id="detectBtn">Detect Object</button>

    <!-- Results -->
    <ul id="resultList"></ul>

    <!-- Load script LAST -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>